		    <div class="alert alert-success sample-show-hide" ng-show="showAlertMessage">{{alertMessage}}</div>

				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" ng-repeat="jugador in jugadores" ng-class="{active: $index == selectedTab}" ng-click="setSelected($index)">
						<a ng-href="#jugador{{jugador.id}}" aria-controls="#jugador{{jugador.id}}" role="tab" data-toggle="tab" ng-bind="jugador.Usuario.alias"></a>
					</li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane" ng-class="{active: $index == selectedTab}" ng-attr-id="#jugador{{jugador.id}}" ng-repeat="jugador in jugadores">
						<h2 class="sub-header">
							Información
							<button type="button" class="btn btn-default pull-right" ng-click="updateJugador(jugador);">Guardar</button>
						</h2>

						<div class="row">
							<dl class="col-sm-2 col-md-2">
								<div class="row">
									<div class="col-md-4">
										<label style="text-align: left; padding-left: 15px">Nombre:</label>
									</div>
									<div class="col-md-6">
										<span ng-bind="jugador.Personaje.nombre"/>
									</div>
								</div>
							</dl>
							<dl class="col-sm-2 col-md-2">
								<div class="row">
									<div class="col-md-5">
										<label style="text-align: left; padding-left: 15px">Clase:</label>
									</div>
									<div class="col-md-5">
										<span ng-bind="jugador.Clase.nombre"/>
									</div>
								</div>
							</dl>
							<dl class="col-sm-2 col-md-2">
								<div class="row">
									<div class="col-md-5">
										<label style="text-align: left; padding-left: 15px">Velocidad:</label>
									</div>
									<div class="col-md-5">
										<span ng-bind="jugador.Personaje.velocidad"/>
									</div>
								</div>
							</dl>
							<dl class="col-sm-2 col-md-2">
								<div class="row">
									<div class="col-md-3">
										<label style="text-align: left; padding-left: 15px">Vida:</label>
									</div>
									<div class="col-md-7">
										<span ng-bind="jugador.Personaje.vida"/>
									</div>
								</div>
							</dl>
							<dl class="col-sm-2 col-md-2">
								<div class="row">
									<div class="col-md-4">
										<label style="text-align: left; padding-left: 15px">Aguante:</label>
									</div>
									<div class="col-md-6">
										<span ng-bind="jugador.Personaje.aguante"/>
									</div>
								</div>
							</dl>
							<dl class="col-sm-2 col-md-2">
								<div class="row">
									<div class="col-md-4">
										<label style="text-align: left; padding-left: 15px">Defensa:</label>
									</div>
									<div class="col-md-6">
										<span ng-bind="jugador.Personaje.defensa"/>
									</div>
								</div>
							</dl>
						</div>

						<div class="row">
							<dl class="col-sm-2 col-md-2">
								<div class="row">
									<div class="col-md-4">
										<label style="text-align: left; padding-left: 15px">Fuerza:</label>
									</div>
									<div class="col-md-8">
										<span ng-bind="jugador.Personaje.fuerza"/>
									</div>
								</div>
							</dl>
							<dl class="col-sm-2 col-md-2">
								<div class="row">
									<div class="col-md-6">
										<label style="text-align: left; padding-left: 15px">Conocimiento:</label>
									</div>
									<div class="col-md-6">
										<span ng-bind="jugador.Personaje.conocimiento"/>
									</div>
								</div>
							</dl>
							<dl class="col-sm-2 col-md-2">
								<div class="row">
									<div class="col-md-4">
										<label style="text-align: left; padding-left: 15px">Voluntad:</label>
									</div>
									<div class="col-md-8">
										<span ng-bind="jugador.Personaje.voluntad"/>
									</div>
								</div>
							</dl>
							<dl class="col-sm-2 col-md-2">
								<div class="row">
									<div class="col-md-5">
										<label style="text-align: left; padding-left: 15px">Percepción:</label>
									</div>
									<div class="col-md-7">
										<span ng-bind="jugador.Personaje.percepcion"/>
									</div>
								</div>
							</dl>
							<dl class="col-sm-2 col-md-2">
								<label style="text-align: left; padding-left: 15px">Capacidad</label>
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true"
									data-toggle="tooltip" data-placement="right"
									title="{{jugador.Personaje.capacidad}}">
								</span>
							</dl>
							<dl class="col-sm-2 col-md-2">
								<label style="text-align: left; padding-left: 15px">Proeza</label>
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true"
									data-toggle="tooltip" data-placement="right"
									title="{{jugador.Personaje.proeza}}">
								</span>
							</dl>
						</div>

						<h2 class="sub-header">Atributos</h2>

						<div class="row">
							<div class="col-sm-2 col-md-2">
								<div class="col-md-3" style="padding-top: 6px">
									<label>Vida</label>
								</div>
								<div class="input-group col-md-7 btn-group" style="width: 55%">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="decLife(jugador)" ng-disabled="jugador.vida == 0">-</button>
									</span> <input type="text"  ng-model="jugador.vida" ng-disabled="true"
										class="form-control input-mini text-center"> <span
										class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="incLife(jugador)" ng-disabled="jugador.vida == jugador.Personaje.vida">+</button>
									</span>
								</div>
							</div>
							<div class="col-md-2">
								<div class="col-md-4" style="padding-top: 6px">
									<label>Fatiga</label>
								</div>
								<div class="input-group col-md-7 " style="width: 45%">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="decStamina(jugador)" ng-disabled="jugador.aguante == 0">-</button>
									</span>
									<input type="text" ng-model="jugador.aguante" class="form-control input-mini text-center" ng-disabled="true">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="incStamina(jugador)" ng-disabled="jugador.aguante == jugador.Personaje.aguante">+</button>
									</span>
								</div>
							</div>

							<div class="col-md-7 form-group" style="padding-top: 6px">
								<div class="col-md-2">
									<label>Aturdido</label> <input type="checkbox" ng-model="jugador.aturdido"></input>
								</div>
								<div class="col-md-2">
									<label>Enfermo</label> <input type="checkbox" ng-model="jugador.enfermo"></input>
								</div>
								<div class="col-md-2">
									<label>Envenenado</label> <input type="checkbox" ng-model="jugador.envenenado"></input>
								</div>
								<div class="col-md-2">
									<label>Inmóvil</label> <input type="checkbox" ng-model="jugador.inmovil"></input>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-md-2" style="padding-left: 30px">
								<label>Proeza</label> <input type="checkbox" ng-model="jugador.proeza"></input>
							</div>
							<div class="col-md-2" style="padding-left: 30px">
								<label>Oro</label> <input type="number" min="0" ng-model="jugador.oro"></input>
							</div>
							<div class="col-md-8" style="padding-left: 30px">
								<label>Experiencia</label> <input type="number" min="0" ng-model="jugador.experiencia"></input>
							</div>
						</div>

						<h2 class="sub-header">Habilidades</h2>


						<div class="table-responsive">
							<table class="table table-striped table-bordered text-center">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Penalización</th>
										<th>Coste de experiencia</th>
										<th>Cantidad</th>
										<th>Descripción</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="habilidad in jugador.Habilidads">
										<td ng-bind="habilidad.nombre"></td>
										<td ng-bind="habilidad.penalizacion"></td>
										<td ng-bind="habilidad.coste_experiencia"></td>
										<td ng-bind="habilidad | getCantidad"></td>
										<td ng-bind="habilidad.descripcion"></td>
									</tr>
								</tbody>
							</table>
						</div>

						<button type="button" class="btn btn-default btn-md pull-right" ng-click="openSkillModal(jugador)">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" title="Añadir habilidad"></span>
						</button>

						<h2 class="sub-header">Objetos</h2>

						<div class="table-responsive">
							<table class="table table-striped table-bordered text-center">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Tipo</th>
										<th>Precio</th>
										<th>Número de manos</th>
										<th>A distancia</th>
										<th>Descripción</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="objeto in jugador.Objetos">
										<td ng-bind='objeto.nombre'></td>
										<td ng-bind='objeto.tipo'></td>
										<td ng-bind='objeto.precio'></td>
										<td ng-bind='objeto.manos'></td>
										<td ng-bind='objeto.a_distancia | numberToBoolean'></td>
										<td ng-bind='objeto.descripcion'></td>
									</tr>
								</tbody>
							</table>
						</div>

						<button type="button" class="btn btn-default btn-md pull-right" ng-click="openItemModal(jugador)">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" title="Añadir objeto"></span>
						</button>

					</div>
				</div>
</div>
