<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Descent Manager</h1>
    <p class="lead">The ultimate online application to manage your Descent games</p>
  </div>
</header>

<div class="container">
  <form class="form-signin">
    <div class="alert" role="alert" ng-class="alertClass" ng-show="alert">{{alertMessage}}</div>
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" ng-model="credentials.username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" ng-model="credentials.password" class="form-control" placeholder="Password" required>
    <!--
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    -->
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(credentials)">Sign in</button>
    <a href="#" class="register" ng-click="register()">Register here</a>
  </form>
</div>

<footer></footer>
